*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.lock {
  overflow: hidden;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

@media (max-width: 1220px) {
  .container {
    padding: 0 20px;
  }
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: calc(40px + 6 * ((100vw - 320px) / (1440 - 320)));
  letter-spacing: 0.02em;
  line-height: 130%;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  background-color: #961914;
  color: #fff;
  padding: 13px 42px;
  text-align: center;
  border-radius: 8px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.button:hover {
  background-color: #75110d;
}

.body {
  width: 100%;
  height: 100%;
}

section {
  padding-top: calc(80px + 100 * ((100vw - 320px) / (1440 - 320)));
}

.header {
  width: 100%;
  height: calc(70px + 10 * ((100vw - 320px) / (1440 - 320)));
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 16px;
  z-index: 12;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: calc(60px + 20 * ((100vw - 320px) / (1440 - 320)));
  height: calc(60px + 20 * ((100vw - 320px) / (1440 - 320)));
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  z-index: 13;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

.header__nav a:hover {
  border-bottom: 2px solid #961914;
}

.header__nav a:not(:last-child) {
  margin-right: calc(25px + 28 * ((100vw - 768px) / (1440 - 768)));
}

.header__nav a:last-child {
  margin-right: calc(0px + 23 * ((100vw - 768px) / (1440 - 768)));
}

.header__nav a.button {
  color: #fff;
  margin-top: 100px;
  display: none;
}

.header.scrolled {
  background-color: #fff;
  padding-top: 0;
}

.header.scrolled .header__logo {
  width: calc(38px + 24 * ((100vw - 320px) / (1440 - 320)));
  height: calc(38px + 24 * ((100vw - 320px) / (1440 - 320)));
}

.header.scrolled .header__nav a:not(.button) {
  color: #000;
}

.header.scrolled .header__burger::before {
  background-color: #000;
}

.header.scrolled .header__burger::after {
  background-color: #000;
}

.header.scrolled .header__burger span {
  background-color: #000;
}

.header.active {
  background-color: #fff;
}

.header__burger {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 13;
}

.header__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
  background-color: #000;
}

.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
  background-color: #000;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #000;
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    height: 20px;
    width: 30px;
    z-index: 13;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 100%;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    padding: 70px 10px 20px 10px;
    z-index: 10;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .header__nav a {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }
  .header__nav a:not(:last-child) {
    margin-bottom: 40px;
  }
  .header__nav.active {
    top: calc(70px + 10 * ((100vw - 320px) / (1440 - 320)));
  }
  .header__nav.active .button {
    display: block;
    margin: 100px 0px;
  }
}

.main {
  height: 100vh;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
  margin: 0;
  padding-top: 0;
}

.main::before {
  content: "";
  background-image: url("../img/icons/ZOOOV.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 147px;
  height: 548px;
  bottom: calc(0px + 92 * ((100vw - 320px) / (1440 - 320)));
  right: calc(0px - 21 * ((100vw - 320px) / (1440 - 320)));
}

@media (max-width: 500px) {
  .main::before {
    width: 100px;
    height: 375px;
  }
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__title {
  font-size: calc(44px + 10 * ((100vw - 320px) / (1440 - 320)));
  color: #fff;
  width: calc(338px + 152 * ((100vw - 320px) / (1440 - 320)));
  height: 210px;
  position: relative;
  z-index: 2;
  background-image: url("../img/icons/Ellipse_animated.svg");
  background-position-x: 75%;
  background-position-y: 60%;
  background-repeat: no-repeat;
  background-size: calc(170px + 80 * ((100vw - 320px) / (1440 - 320)));
}

@media (max-width: 1200px) {
  .main__title {
    background-position-y: 50%;
  }
}

@media (max-width: 1050px) {
  .main__title {
    background-position-x: 80%;
  }
}

@media (max-width: 768px) {
  .main__title {
    background-position-x: 0%;
  }
}

@media (max-width: 425px) {
  .main__title {
    background-position-y: 43%;
  }
}

@media (max-width: 370px) {
  .main__title {
    width: 100%;
    background-position-y: 80%;
  }
}

.main__title span {
  display: block;
}

@media (max-width: 768px) {
  .main__title span {
    display: inline-block;
  }
}

.main__subtitle {
  width: calc(227px + 133 * ((100vw - 320px) / (1440 - 320)));
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: calc(18px + 2 * ((100vw - 320px) / (1440 - 320)));
  line-height: 140%;
  color: #fff;
  margin: 10px 0 25px 0;
}

.barf__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 770px) {
  .barf__body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
}

.barf__content {
  margin-top: calc(0px + 55 * ((100vw - 320px) / (1440 - 320)));
  margin-right: 28px;
}

.barf__description {
  color: #434242;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-top: calc(24px + 8 * ((100vw - 320px) / (1440 - 320)));
  margin-bottom: 24px;
  font-family: "Montserrat", sans-serif;
}

.barf__list {
  font-family: "Montserrat", sans-serif;
}

.barf__list p {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 13px;
}

.barf__list li {
  color: #434242;
  font-size: 16px;
  font-weight: 400;
  padding-left: 12px;
  position: relative;
}

.barf__list li:not(:last-child) {
  margin-bottom: 15px;
}

.barf__list li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #961914;
  border-radius: 50%;
}

.barf__image {
  width: calc(350px + 238 * ((100vw - 768px) / (1440 - 768)));
  height: calc(311px + 212 * ((100vw - 768px) / (1440 - 768)));
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 768px) {
  .barf__image {
    width: 100%;
    height: auto;
    margin: 40px 0 0 0;
  }
}

.barf__nutrition {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

@media (max-width: 768px) {
  .barf__nutrition {
    grid-column-end: 2;
  }
}

.barf-slider {
  min-width: 0;
  width: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  padding: 32px 80px;
  margin-top: 80px;
  background-color: #ead1d0;
  background-image: url("../img/icons/line.png");
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 770px) {
  .barf-slider {
    padding: 56px 49px 0 49px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 0;
  }
}

@media (max-width: 360px) {
  .barf-slider {
    padding: 56px 19px 0 19px;
  }
}

@media (max-width: 770px) {
  .barf-slider__swiper {
    padding-bottom: 72px;
  }
}

.barf-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.barf-slider__slide:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 1030px) {
  .barf-slider__slide:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1030px) {
  .barf-slider__slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.barf-slider .swiper-pagination-bullet {
  border: 1px solid #961914;
  background-color: transparent;
  opacity: 1;
}

.barf-slider .swiper-pagination-bullet-active {
  background-color: #961914;
}

.barf-slide__title {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 200%;
  margin-bottom: 16px;
}

.barf-slide div + div {
  margin-left: 70px;
}

@media (max-width: 1120px) {
  .barf-slide div + div {
    margin-left: 30px;
  }
}

@media (max-width: 1030px) {
  .barf-slide div + div {
    margin: 26px 0 0 0;
  }
}

.barf-slide img {
  width: 20px;
  height: auto;
  margin-right: 16px;
}

.barf-slide__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1030px) {
  .barf-slide__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.barf-slide li {
  font-weight: 500;
  font-size: 18px;
  color: #434242;
}

.barf-slide li:not(:last-child) {
  margin-bottom: 26px;
}

.rations__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: calc(56px + 8 * ((100vw - 320px) / (1440 - 320)));
}

@media (max-width: 940px) {
  .rations__title-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.rations__title {
  white-space: nowrap;
  height: 79px;
  padding: 5px 85px 0 0;
  position: relative;
  background-image: url("../img/icons/Ellipse2.png");
  background-repeat: no-repeat;
  background-position-x: 75%;
  background-position-y: top;
}

@media (max-width: 940px) {
  .rations__title {
    padding: 5px 35px 0 0;
    background-position-x: 100%;
    width: 320px;
  }
}

@media (max-width: 375px) {
  .rations__title {
    width: 100%;
  }
}

.rations__descroption {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

@media (max-width: 940px) {
  .rations__descroption {
    margin: 20px 0 0 0;
  }
}

@media (max-width: 550px) {
  .rations__descroption {
    display: none;
  }
}

.rations__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.rations__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 0 0;
}

.rations__dots-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #961914;
}

.rations__dots-item.active {
  background-color: #961914;
}

.rations__dots-item:not(:last-child) {
  margin-right: 8px;
}

.rations__calculation {
  width: 100%;
  height: calc(248px - 64 * ((100vw - 320px) / (1440 - 320)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ead1d0;
  background-image: url("../img/icons/line.png");
  margin-top: 80px;
  padding: 0 22.5px;
}

.rations__calculation p {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: calc(20px + 8 * ((100vw - 320px) / (1440 - 320)));
  line-height: 140%;
  letter-spacing: 0.02em;
  width: calc(282px + 418 * ((100vw - 320px) / (1440 - 320)));
  margin-right: calc(0px + 151 * ((100vw - 320px) / (1440 - 320)));
}

@media (max-width: 650px) {
  .rations__calculation p {
    margin: 0 0 24px 0;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .rations__calculation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.rations-slider {
  min-width: 0;
  padding-bottom: 48px;
}

.rations-slider__slide {
  width: 280px;
}

.rations-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.rations-slider__item:not(:last-child) {
  margin-right: 26px;
}

.rations-slider__image {
  width: 100%;
  height: auto;
}

.rations-slider__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  margin-top: 45px;
}

.rations-slider__subtitle {
  font-weight: 400;
  font-size: 13px;
  color: #9f9e9d;
  margin: 4px 0 16px 0;
}

.rations-slider__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #434242;
  margin-bottom: 11px;
}

.rations-slider__weight {
  color: #9f9e9d;
  font-size: 13px;
  margin-bottom: 24px;
}

.rations-slider__button {
  border: 1px solid #961914;
  background-color: #fff;
  color: #961914;
  margin-top: auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.rations-slider__button:hover {
  background-color: #ead1d0;
  border: 1px solid transparent;
}

.rations-slider .swiper-pagination-bullet {
  background-color: #961914;
}

.rations-slider .swiper-pagination-bullet-active {
  background-color: #961914;
}

.zooov__title {
  margin-bottom: calc(40px + 17 * ((100vw - 320px) / (1440 - 320)));
  position: relative;
  display: inline-block;
}

.zooov__title::before {
  content: "";
  background-image: url("../img/icons/short-line.svg");
  background-repeat: no-repeat;
  width: 26px;
  height: 30px;
  position: absolute;
  bottom: -14px;
  right: -20px;
}

.zooov__cards {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1250px) {
  .zooov__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 40px;
  }
}

@media (max-width: 666px) {
  .zooov__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: start;
  }
}

.cards__item {
  font-family: "Montserrat", sans-serif;
  width: 282px;
}

.cards__item + .cards__item {
  margin-left: 20px;
}

@media (max-width: 1250px) {
  .cards__item + .cards__item {
    margin: 0;
  }
}

.cards__image {
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
}

.cards__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 8px;
}

.cards__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.about {
  background-color: #fff4f3;
  background-image: url("../img/icons/line3.png");
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 0;
  padding: 80px 0;
  margin-top: calc(80px + 100 * ((100vw - 320px) / (1440 - 320)));
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1000px) {
  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about__image-wrap {
  margin-right: 56px;
  height: 100%;
  width: calc(285px + 271 * ((100vw - 320px) / (1440 - 320)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1000px) {
  .about__image-wrap {
    margin: 0;
  }
}

.about__image-block {
  position: relative;
}

.about__image-block:nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: calc(-113px - 94 * ((100vw - 320px) / (1440 - 320)));
  position: relative;
}

.about__image--left {
  width: calc(261px + 214 * ((100vw - 320px) / (1440 - 320)));
  height: calc(309px + 253 * ((100vw - 320px) / (1440 - 320)));
}

.about__image--right {
  width: calc(202px + 160 * ((100vw - 320px) / (1440 - 320)));
  height: calc(217px + 172 * ((100vw - 320px) / (1440 - 320)));
}

.about__sticker--heart {
  width: calc(66px + 54 * ((100vw - 320px) / (1440 - 320)));
  height: calc(65px + 54 * ((100vw - 320px) / (1440 - 320)));
  position: absolute;
  top: calc(-38px - 12 * ((100vw - 320px) / (1440 - 320)));
  right: calc(23px - 2 * ((100vw - 320px) / (1440 - 320)));
}

.about__sticker--dog {
  width: calc(100px + 83 * ((100vw - 320px) / (1440 - 320)));
  height: calc(100px + 83 * ((100vw - 320px) / (1440 - 320)));
  position: absolute;
  left: calc(0px - 55 * ((100vw - 320px) / (1440 - 320)));
  bottom: calc(-48px - 48 * ((100vw - 320px) / (1440 - 320)));
}

.about__content {
  width: calc(324px + 196 * ((100vw - 320px) / (1440 - 320)));
  margin-right: 65px;
  padding-top: 40px;
}

@media (max-width: 1000px) {
  .about__content {
    margin: 0 0 76px 0;
    width: 100%;
  }
}

.about__title {
  margin-bottom: calc(24px + 16 * ((100vw - 320px) / (1440 - 320)));
  width: calc(315px + 94 * ((100vw - 320px) / (1440 - 320)));
}

@media (max-width: 370px) {
  .about__title {
    width: 100%;
  }
}

.about__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #434242;
  line-height: 130%;
}

.about__text:not(:last-child) {
  margin: 0 0 40px 0;
}

@media (max-width: 1000px) {
  .about__text:not(:last-child) {
    margin: 0 0 27px 0;
  }
}

.delivery__title {
  margin-bottom: calc(33px + 47 * ((100vw - 320px) / (1440 - 320)));
}

.delivery .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1060px) {
  .delivery .steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url("../img/icons/Arrow5.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-left: 32px;
  }
}

.delivery .steps__item {
  width: calc(263px + 17 * ((100vw - 320px) / (1440 - 320)));
  font-family: "Montserrat", sans-serif;
}

.delivery .steps__item:not(:last-child) {
  margin: 0 20px 0 0;
}

@media (max-width: 1060px) {
  .delivery .steps__item:not(:last-child) {
    margin: 40px 0 0 0;
  }
}

.delivery .steps__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 8px;
}

.delivery .steps__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.delivery .steps__image-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.delivery .steps__arrow {
  width: 139px;
  height: 14px;
  margin-right: 35px;
}

@media (max-width: 1060px) {
  .delivery .steps__arrow {
    display: none;
  }
}

.delivery .steps__image {
  width: 40px;
  height: 40px;
}

.delivery .steps__image.little {
  width: 28px;
  height: 32px;
}

.faq__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.faq__title {
  word-wrap: break-word;
  margin-right: 20px;
}

@media (max-width: 700px) {
  .faq__title {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.faq__list {
  width: 766px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .faq__list {
    width: 100%;
  }
}

.faq__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0;
}

.faq__item:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.faq__item.checked {
  padding: 32px 0 32px 0;
}

.faq__item.checked .faq__answer {
  opacity: 1;
  padding: 21px 0 32px 0;
  max-height: none;
}

.faq__item.checked .faq__controls::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.faq__text {
  font-family: "Montserrat", sans-serif;
  width: calc(275px + 416 * ((100vw - 320px) / (1440 - 320)));
}

.faq__question {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
}

.faq__answer {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  opacity: 0;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.faq__controls {
  width: 20px;
  height: 20px;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}

.faq__controls::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  top: 9px;
  left: 0;
  background-color: #961914;
}

.faq__controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  top: 0;
  left: 9px;
  background-color: #961914;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.footer {
  margin-top: calc(80px + 100 * ((100vw - 320px) / (1440 - 320)));
  background-image: url("../img/bg-footer.png");
  background-repeat: no-repeat;
  background-position: 20% center;
  background-size: cover;
}

@media (max-width: 768px) {
  .footer {
    background-image: url("../img/bg-footer-2.png");
    background-position: bottom;
  }
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  padding: 80px 0;
}

@media (max-width: 1120px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 56px 0 242px 0;
  }
}

.footer__title {
  color: #fff;
  margin-bottom: 8px;
  font-family: "Oswald", sans-serif;
}

.footer__contact p:not(.footer__phone) {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  width: 302px;
}

.footer__contact p:not(.footer__phone):last-child {
  margin-top: 40px;
}

.footer__contact p:not(.footer__phone) a {
  text-decoration: underline;
  color: #fff;
}

@media (max-width: 370px) {
  .footer__contact p:not(.footer__phone) {
    width: 100%;
  }
}

@media (max-width: 1120px) {
  .footer__contact {
    margin-bottom: 56px;
  }
}

.footer__phone {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  margin: 32px 0 24px 0;
}

.footer__link {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 16px 10px 44px;
  display: block;
  width: 223px;
  border-radius: 8px;
  position: relative;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.footer__link::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 12px;
  background-image: url("../img/icons/TelegramLogo.png");
}

.footer__link.whatsapp::before {
  background-image: url("../img/icons/WhatsappLogo.png");
}

.footer__link:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.footer__link + .footer__link {
  margin-top: 16px;
}

.footer__form {
  margin-right: 75px;
  width: 636px;
}

@media (max-width: 1120px) {
  .footer__form {
    margin-right: 0;
  }
}

@media (max-width: 680px) {
  .footer__form {
    width: 100%;
  }
}

.footer__copyright {
  width: 100%;
  padding: 30px 0;
  background-color: #69120e;
}

.footer__copyright p,
.footer__copyright a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 1150px) {
  .footer__copyright p {
    margin-bottom: 24px;
  }
}

@media (max-width: 1150px) {
  .footer__copyright a:first-of-type {
    margin-bottom: 8px;
  }
}

@media (max-width: 1150px) {
  .footer__copyright {
    padding: 24px 0;
  }
}

.footer__copyright-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1150px) {
  .footer__copyright-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 24px 0;
  }
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 680px) {
  .form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.form__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
}

.form__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  margin: 4px 0 34px 0;
}

.form__input {
  width: 306px;
  height: 48px;
  padding: 14px 13px;
}

.form__input, .form__textarea {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.form__input::placeholder, .form__textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 680px) {
  .form__input, .form__textarea {
    width: 100%;
  }
}

.form__input + .form__input {
  margin-left: 24px;
}

@media (max-width: 680px) {
  .form__input + .form__input {
    margin: 16px 0 0 0;
  }
}

.form__textarea {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  margin: 16px 0 22px 0;
  height: 122px;
  padding: 8px 15px;
}

@media (max-width: 680px) {
  .form__textarea {
    grid-column-end: 2;
    margin: 16px 0 16px 0;
  }
}

.form__checkbox {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.form__fake-checkbox {
  min-width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
}

.form__checkbox:checked + .form__fake-checkbox {
  background-image: url("../img/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #fff;
  width: 215px;
  cursor: pointer;
}

@media (max-width: 680px) {
  .form__checkbox-label {
    width: 100%;
  }
}

.form__button {
  background-color: #fff4f3;
  color: #ec7973;
  width: 214px;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.form__button:hover {
  background-color: #ead1d0;
  color: #961914;
}

@media (max-width: 680px) {
  .form__button {
    width: 100%;
    margin-top: 32px;
  }
}

.rations-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 16;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.2s, opacity 0.2s;
  transition: visibility 0.2s, opacity 0.2s;
}

.rations-popup:target {
  visibility: visible;
  opacity: 1;
}

.rations-popup__wrap {
  position: relative;
  z-index: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.rations-popup__wrap.notActive {
  display: none;
  opacity: 0;
}

.rations-popup__body {
  width: 872px;
  height: 615px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 56px;
  position: relative;
}

.rations-popup__close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.rations-popup__close::before {
  content: "";
  background-color: #000;
  height: 32px;
  width: 2px;
  position: absolute;
  top: 0px;
  left: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.rations-popup__close::after {
  content: "";
  background-color: #000;
  height: 32px;
  width: 2px;
  position: absolute;
  top: 0px;
  left: 16px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.rations-popup__area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rations-popup__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 43px;
}

.rations-popup__main-slide {
  width: 351px;
  height: 421px;
  margin-bottom: 18px;
}

.rations-popup__slider-galary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rations-popup__slider-galary img {
  width: 64px;
  height: 64px;
}

.rations-popup__slider-galary img + img {
  margin-left: 16px;
}

.rations-popup__text {
  font-family: "Montserrat", sans-serif;
}

.rations-popup__text.notActive {
  display: none;
}

.rations-popup__title {
  font-weight: 700;
  font-size: 20px;
}

.rations-popup__subtitle {
  font-weight: 400;
  font-size: 15px;
  color: #9f9e9d;
  margin: 4px 0 16px 0;
}

.rations-popup__description, .rations-popup__composition, .rations-popup__energy {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #434242;
}

.rations-popup__composition {
  margin: 45px 0 72px 0;
}

.rations-popup__composition span, .rations-popup__energy span {
  font-weight: 600;
}

.rations-popup__weight {
  margin: 19px 0 37px 0;
  font-weight: 400;
  font-size: 13px;
  color: #9f9e9d;
}

.rations-popup__button {
  background-color: #fff;
  color: #961914;
  border: 1px solid #961914;
  cursor: pointer;
}

.rations-popup__button:hover {
  border: 1px solid #ead1d0;
  background-color: #ead1d0;
  color: #961914;
}

.rations-popup__sent {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  opacity: 0;
  z-index: 5;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.rations-popup__sent.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.popup-form {
  display: none;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  z-index: 2;
}

.popup-form.active {
  display: block;
  opacity: 1;
}

.popup-form__name, .popup-form__tel, .popup-form__address, .popup-form__weight, .popup-form__quantity {
  width: 364px;
  height: 48px;
  background-color: #f4f5f5;
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 14px 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.popup-form__name::-webkit-input-placeholder, .popup-form__tel::-webkit-input-placeholder, .popup-form__address::-webkit-input-placeholder, .popup-form__weight::-webkit-input-placeholder, .popup-form__quantity::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.popup-form__name:-ms-input-placeholder, .popup-form__tel:-ms-input-placeholder, .popup-form__address:-ms-input-placeholder, .popup-form__weight:-ms-input-placeholder, .popup-form__quantity:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.popup-form__name::-ms-input-placeholder, .popup-form__tel::-ms-input-placeholder, .popup-form__address::-ms-input-placeholder, .popup-form__weight::-ms-input-placeholder, .popup-form__quantity::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.popup-form__name::placeholder, .popup-form__tel::placeholder, .popup-form__address::placeholder, .popup-form__weight::placeholder, .popup-form__quantity::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.popup-form__input-wrapper {
  display: inline-block;
  position: relative;
}

.popup-form__input-wrapper .plus {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 17px;
  left: 16px;
  cursor: pointer;
}

.popup-form__input-wrapper .plus::before {
  content: "";
  height: 14px;
  width: 1px;
  background-color: #c4c4c4;
  position: absolute;
  top: 0;
  left: 6.5px;
  border-radius: 1px;
}

.popup-form__input-wrapper .plus::after {
  content: "";
  height: 1px;
  width: 14px;
  background-color: #c4c4c4;
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: 1px;
}

.popup-form__input-wrapper .minus {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 17px;
  right: 16px;
  cursor: pointer;
}

.popup-form__input-wrapper .minus::before {
  content: "";
  height: 1px;
  width: 14px;
  background-color: #c4c4c4;
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: 1px;
}

.popup-form__weight {
  width: 205px;
  margin-right: 22px;
}

.popup-form__input-arrow {
  position: absolute;
  top: 21px;
  left: 177px;
  width: 14px;
  height: 8px;
  cursor: pointer;
}

.popup-form__quantity {
  width: 135px;
  padding: 14px 64px;
}

.popup-form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.popup-form__checkbox input {
  width: 1px;
  height: 1px;
}

.popup-form__checkbox-fake {
  width: 16px;
  height: 16px;
  border: 1px solid #961914;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
}

.popup-form__checkbox-fake.checked {
  background-image: url("../img/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.popup-form__checkbox-label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #9f9e9d;
  cursor: pointer;
}

.popup-form__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 36px;
}

.popup-form__buy p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.02em;
}

.popup-form__buy input {
  border: 1px solid #961914;
  background-color: #fff;
  color: #961914;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.popup-form__buy input:hover {
  border: 1px solid #ead1d0;
  background-color: #ead1d0;
}

.sent__title {
  color: #961914;
  margin-bottom: 22px;
}

.sent__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  width: 363px;
}

.sent__text + .sent__text {
  margin-top: 26px;
}

.popup-thanks {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 16;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  opacity: 0;
}

.popup-thanks:target {
  visibility: visible;
  opacity: 1;
}

.popup-thanks__area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-thanks__body {
  width: 461px;
  height: 232px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.popup-thanks__close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.popup-thanks__close::before {
  content: "";
  background-color: #000;
  height: 32px;
  width: 2px;
  position: absolute;
  top: 0px;
  left: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup-thanks__close::after {
  content: "";
  background-color: #000;
  height: 32px;
  width: 2px;
  position: absolute;
  top: 0px;
  left: 16px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-thanks__title {
  color: #961914;
  margin-bottom: 16px;
}

.popup-thanks__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
}

.calc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 12;
}

.calc:target {
  opacity: 1;
  visibility: visible;
}

.calc__area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.calc__body {
  width: 872px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: relative;
  background-color: #fff;
  padding: 56px;
  font-family: "Montserrat", sans-serif;
}

.calc__close {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 32px;
  height: 32px;
}

.calc__close::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 20px;
  height: 2px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.calc__close::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 20px;
  height: 2px;
  background-color: #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.calc__title {
  color: #961914;
  font-size: 40px;
  margin-bottom: 24px;
}

.calc__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.calc__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(150, 25, 20, 0.2);
  color: #961914;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  padding: 13px 24px 11px 12px;
}

.calc__button:hover {
  background-color: rgba(150, 25, 20, 0.4);
}

.calc__button img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.calc__button + .calc__button {
  margin-left: 30px;
}

.calc__subtitle {
  font-size: 15px;
  line-height: 130%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 27px;
}

.calc__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calc-form {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.calc-form__character {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-right: 32px;
}

.calc-form__character input {
  padding: 22px 16px 6px 16px;
}

.calc-form__radio-wrap {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 24px;
}

.calc-form__radio-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.calc-form__radio-label + .calc-form__radio-label {
  margin-left: 32px;
}

.calc-form__radio {
  width: 16px;
  height: 16px;
  position: relative;
  margin-right: 8px;
  cursor: pointer;
}

.calc-form__radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #434242;
}

.calc-form__radio:checked::before {
  background-image: url("../img/icons/circle.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #961914;
}

.calc-form__input-wrap {
  width: 364px;
  position: relative;
}

.calc-form__input-wrap label {
  position: absolute;
  top: 4px;
  left: 16px;
  font-size: 12px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.6);
}

.calc-form__input-wrap:nth-child(2) {
  margin-right: 16px;
  position: relative;
}

.calc-form__input-wrap:nth-child(2), .calc-form__input-wrap:nth-child(3) {
  width: 174px;
}

.calc-form__input-wrap:nth-child(4) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  margin: 16px 0 60px 0;
}

.calc-form__input {
  width: 100%;
  height: 48px;
  background-color: #f4f5f5;
  font-size: 14px;
  border-radius: 8px;
  padding: 14px 16px;
  line-height: 140%;
  color: #000;
}

.calc-form__input::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 140%;
}

.calc-form__input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 140%;
}

.calc-form__input::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 140%;
}

.calc-form__input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 140%;
}

.calc-form__input:nth-child(6) {
  background-color: red;
}

.calc-form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  font-size: 12px;
  line-height: 140%;
  color: #9f9e9d;
  cursor: pointer;
}

.calc-form__checkbox input {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  position: relative;
}

.calc-form__checkbox input::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #961914;
  border-radius: 2px;
  background-color: #fff;
}

.calc-form__checkbox input:checked::before {
  background-image: url("../img/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.calc-form__contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calc-form-comment {
  height: 97px;
  resize: none;
  margin-top: 16px;
}

.calc-form__submit {
  width: 228px;
  margin-top: 42px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}
