@media(max-width:376px){

    /*-------------------------burger menu--------------------*/
    /* .menu .menu-items {
        display: none;
    } */
    
      .burger svg{

        display: block;
        height: 20px;
        width: 30px;
      }
      .burger{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    
     
    
      .bar {
        display: block;
        stroke: white;
      }

      .menu-items .menu-item a {
        color: #000000;
      }
      .burger.active .bar {
        stroke: #000000;
      }

      .menu-items {
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        position: fixed;

        top: -100%;
        right: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        background-color: #fff;
        padding: 70px 10px 20px 10px;
        z-index: 10;
   
        transition: all 1s; 
      }
      .menu-items.active {
        top:0%;
      }

      .menu-item{
        color: #000;
        font-size: 24px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
      }


    
     .burger__button-svg{
      
     }
    
      body.noscroll {
        overflow: hidden;
      }

      .head__menu.active .bar{
        stroke: #000;

      }
      /*---------------end of burger menu------------------*/


    .container{
        max-width:327px;
        padding-left: 0;
        padding-right: 0;
    }
    .wrapper{
        max-width: 375px;
    }


    .head__menu{
        width: 100%;
    

    }
    .barf-caption__pic{
        width: 100%;
        


    }
    .barf-container{
        flex-direction: column;
        width: 100%;
        margin-bottom: 0;
        
    }
    .barf-caption{
        margin-bottom: 40px;
    }
    /* .barf-food__block:last-child{
        display: none;
    } */
    .barf-food__block{
        height:427px;
        width:100%;
    }
    .barf-food{
        height:427px;
        width: 100%;

    }
    .barf-food__list{
        height:427px;
    }
    .barf-food__list-item{
        margin-right: 0;
        width: 243px;
        
    }
    .barf-food__line {
        display: none;
    }
    .ration-header__p{
        display:none;
    }    
    .ration-calcucation__text{
        width: 97%;
        font-size: 20px;
        text-align: center;
        margin-bottom: 37px;
    }
    .ration-calcucation{
        flex-direction:column ;
        
    }
    .ration-calcucation__line{
        display:none;
    }
}